/* a {
  color: #0070f3;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./libraries/_nprogress.css";